@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Rest API</h2>
        <ul>
            <li>Authorize</li>
            <li>Notification</li>
        </ul>
    </div>
</div>
